<aside class="blog-sidebar">
  {{ if .Site.Params.blog.showCategories }}
  <div class="sidebar-section categories">
    <h3>{{ i18n "categories" | default "Categories" }}</h3>
    {{ if .Site.Taxonomies.tags }}
    <div class="tag-cloud">
      {{ $maxCount := 0 }}
      {{ $minCount := 9999 }}
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        {{ $count := len $taxonomy.Pages }}
        {{ if gt $count $maxCount }}{{ $maxCount = $count }}{{ end }}
        {{ if lt $count $minCount }}{{ $minCount = $count }}{{ end }}
      {{ end }}

      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        {{ $count := len $taxonomy.Pages }}
        {{ $weight := div (sub $count $minCount) (sub $maxCount $minCount | default 1.0) }}
        {{ $fontSize := add 1.0 (mul $weight 1.5) }}
        <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}"
           class="tag-cloud-item"
           style="font-size: {{ $fontSize }}rem;"
           title="{{ $name }} ({{ $count }} {{ if eq $count 1 }}post{{ else }}posts{{ end }})">
          {{ $name }}
        </a>
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ end }}

  {{ if .Site.Params.blog.showRecentPosts }}
  <div class="sidebar-section recent-posts">
    <h3>{{ i18n "recent_posts" | default "Recent Posts" }}</h3>
    <ul>
      {{ range first .Site.Params.blog.recentPostCount (where .Site.RegularPages "Type" "blog") }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</aside> 