<footer class="footer w-100 d-print-none">


  <div class="container items">
    <div class="container">
      <div class="row w-100 align-items-center">
        <div class="footer_left col-12 col-lg-4 mb-3 mb-lg-0 text-center text-lg-start">
          <div class="footer__copy">
            <span>{{ i18n "footer_notice" | safeHTML }}</span>
          </div>
        </div>
        <div class="footer_links col-12 col-lg-8 mb-3 mb-lg-0 text-center text-lg-start">
          <ul class="footer__nav w-100 align-items-center justify-content-center justify-content-lg-start d-flex flex-wrap gap-2">
            {{ range .Site.Menus.footer }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | relURL }}"
                >{{ if .Pre }}
                  <i class="icon-{{ .Pre }}" aria-label="{{ or .Name .Pre }}"></i>
                {{ else }}
                  {{ .Name | upper }}
                {{ end }}</a
              >
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
